.container {
    background-image: url('Users/crimxonguillermo/Documents/brains.jpeg'); /* Set the image as background of the container */
    background-size: cover; /* Scale the background image to cover the entire container */
    background-position: center; /* Center the background image */
    height: 100vh; /* Ensure the container covers the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-block {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add semi-transparent background to title block for better readability */
}








.container {
    display: flex;
    justify-content: center; /* Center the navigation horizontally */
    align-items: center;
    height: 100vh;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation li {
    margin: 0 10px; /* Adjust spacing between buttons */
    display: inline-block; /* Change the display property to inline-block */
    width: auto; /* Set the width to auto to allow the element to expand to fit its content */
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex; /* Use Flexbox to align text horizontally */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}


.navigation a:hover {
    background-color: #f0f0f0;
}

/* Style for the spaced-out button */
.navigation ul .spaced-out {
    margin-top: 20px; /* Adjust the margin-top to space out the button */
}